<section class="section-container h-[50vh] flex-col">
    <p class="text-7xl uppercase font-semibold mb-7">entre em contato</p>
    <ul class="grow flex flex-col gap-5">
        <li class="flex items-center gap-3 text-3xl">
            <img src="images/linkedin.svg" class="size-15">
            <a href="https://linkedin.com/in/edersonjunior-dev" target="_blank">Conecte-se comigo no LinkedIn</a>
        </li>
        <li class="inline-flex items-center gap-3 text-3xl">
            <img src="images/github.svg" class="size-15">
            <a href="https://linkedin.com/in/edersonjunior-dev" target="_blank">Acesse meu repositório no GitHub</a>
        </li>
    </ul>
</section>
