<section class="section-container flex-col">
    
    <app-section-title titleText="um pouco sobre mim"></app-section-title>
        <div class="grid grid-cols-2 grid-rows-6 gap-3 h-full">
            <div class="p-7 order-1 row-span-4 text-2xl shadow-xl text-justify">
                <p class="mb-7 font-medium uppercase text-5xl"><span class="text-sky-500">_</span>quem sou eu</p>
                <p class="mb-5">Desde sempre, fui movido pela curiosidade. Esse mesmo combustível me levou à área de desenvolvimento. Sempre preferi buscar soluções em vez de apenas reclamar dos problemas e, quando conheci o mundo do desenvolvimento de software, foi paixão à primeira vista.</p>
                <p>Atualmente, estou em busca da minha primeira oportunidade para ingressar formalmente na área.</p>
            </div>

            <div class="p-5 order-3 row-span-2 shadow-xl">
                <p class="mb-7 font-medium uppercase text-5xl"><span class="text-sky-500">_</span>tecnologias</p>
                <div class="flex justify-evenly">
                    <img class="size-30" src="images/csharp.svg" alt="csharp">
                    <img class="size-30" src="images/angular.svg" alt="angular">
                    <img class="size-30" src="images/javascript.svg" alt="javascript">
                    <img class="size-30" src="images/java.svg" alt="java">
                </div>
            </div>

            <div class="order-1 row-span-6 shadow-xl inline-flex flex-col">
                
                <app-soft-skill-card class="flex grow" skillTitle="adaptavel">
                    Encaro desafios como uma oportunidade de crescimento. Sempre estou pronto para aprender, discutir sobre melhorias e resolver problemas de uma forma criativa.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="comunicativo">
                    Gosto de manter uma comunicação clara, objetiva e simples. Me orgulho de ter a habilidade de explicar conceitos técnicos complexos através de analogias.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="cooperativo">
                    Sozinho eu sei que não estaria onde estou. Valorizo muito o trabalho em equipe, pois quando nós compartilhamos nossas forças e talentos, podemos chegar em patamares jamais vistos.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="resiliente">
                    Errar é parte do processo. Com dedicação, disciplina e coragem, podemos chegar e fazer o que quisermos. Tudo é possível.
                </app-soft-skill-card>
                
                
            </div>
    </div>
</section>
