<section class="section-container flex-col">
    
        <app-section-title titleText="quem sou eu"></app-section-title>
        <div class="flex flex-row shadow-xl">
            <div class="p-7 text-xl text-justify flex flex-col gap-7 min-w-[50%]">
                <p>O que me diferencia dos outros</p>
                <p>Atualmente, estou em busca da minha primeira oportunidade para ingressar formalmente na área. Enquanto isso, sigo aprimorando meus conhecimentos e atuando como freelancer.</p>
                <a href="" class="my-auto font-semibold text-center hover:text-sky-500 transition duration-200 hover:scale-110 ease-in-out"><span class="text-sky-500">&#123;&nbsp;</span>Clique aqui para obter uma cópia do meu currículo!<span class="text-sky-500">&nbsp;&#125;</span></a>
                
                <div class="inline-flex max-w-full gap-7 mt-auto">
                    <app-hard-skill-card skillName="C#" skillImgUrl="images/csharp.svg" class="grow relative flex group transition ease-in-out duration-200 hover:scale-110">
                        <span class="after-up after:content-['C#'] after:bg-csharp"></span>
                    </app-hard-skill-card>
                    <app-hard-skill-card skillName="Angular" skillImgUrl="images/angular.svg" class="grow flex relative group transition ease-in-out duration-200 hover:scale-110">
                        <span class="after-up after:content-['Angular'] after:bg-angular"></span>
                    </app-hard-skill-card>
                    <app-hard-skill-card skillName="Javascript" skillImgUrl="images/javascript.svg" class="grow flex relative group transition ease-in-out duration-200 hover:scale-110">
                        <span class="after-up after:content-['Javascript'] after:bg-javascript"></span>
                    </app-hard-skill-card>
                    <app-hard-skill-card skillName="Java" skillImgUrl="images/java.svg" class="grow flex relative group transition ease-in-out duration-200 hover:scale-110">
                        <span class="after-up after:content-['Java'] after:bg-java"></span>
                    </app-hard-skill-card>
                </div>
            </div>
            <div class="inline-flex flex-col grow">
                <app-soft-skill-card class="flex grow" skillTitle="adaptavel">
                    Encaro desafios como uma oportunidade de crescimento. Sempre estou pronto para aprender, discutir sobre melhorias e resolver problemas de uma forma criativa.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="comunicativo">
                    Gosto de manter uma comunicação clara, objetiva e simples. Me orgulho de ter a habilidade de explicar conceitos técnicos complexos através de analogias.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="cooperativo">
                    Sozinho eu sei que não estaria onde estou. Valorizo muito o trabalho em equipe, pois quando nós compartilhamos nossas forças e talentos, podemos chegar em patamares jamais vistos.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="resiliente">
                    Errar é parte do processo. Com dedicação, disciplina e coragem, podemos chegar e fazer o que quisermos. Tudo é possível.
                </app-soft-skill-card>
            </div>
    </div>
</section>
