<section class="section-container flex-col">
    
        <app-section-title titleText="quem sou eu"></app-section-title>
        <div class="flex flex-row shadow-xl">
            <div class="p-14 text-xl text-justify max-w-[50%] flex flex-col gap-7">
                <p>Desde sempre, fui movido pela curiosidade. Esse mesmo combustível me levou à área de desenvolvimento. Sempre preferi buscar soluções em vez de apenas reclamar dos problemas e, quando conheci o mundo do desenvolvimento de software, foi paixão à primeira vista.</p>
                <p>Atualmente, estou em busca da minha primeira oportunidade para ingressar formalmente na área. Enquanto isso, sigo aprimorando meus conhecimentos e atuando como freelancer.</p>
                <a href="" class="my-auto font-semibold text-center hover:text-sky-500 transition"><span class="text-sky-500">&#123;&nbsp;</span>Clique aqui para obter uma cópia do meu currículo!<span class="text-sky-500">&nbsp;&#125;</span></a>
                <div class="inline-flex max-w-full gap-7 mt-auto">
                    <img class="size-10 h-full grow object-contain" src="images/csharp.svg" alt="">
                    <img class="size-10 h-full grow object-contain" src="images/angular.svg" alt="">
                    <img class="size-10 h-full grow object-contain" src="images/javascript.svg" alt="">
                    <img class="size-10 h-full grow object-contain" src="images/java.svg" alt="">
                </div>
            </div>
            <div class="inline-flex flex-col">
                <app-soft-skill-card class="flex grow" skillTitle="adaptavel">
                    Encaro desafios como uma oportunidade de crescimento. Sempre estou pronto para aprender, discutir sobre melhorias e resolver problemas de uma forma criativa.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="comunicativo">
                    Gosto de manter uma comunicação clara, objetiva e simples. Me orgulho de ter a habilidade de explicar conceitos técnicos complexos através de analogias.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="cooperativo">
                    Sozinho eu sei que não estaria onde estou. Valorizo muito o trabalho em equipe, pois quando nós compartilhamos nossas forças e talentos, podemos chegar em patamares jamais vistos.
                </app-soft-skill-card>
                <app-soft-skill-card class="flex grow" skillTitle="resiliente">
                    Errar é parte do processo. Com dedicação, disciplina e coragem, podemos chegar e fazer o que quisermos. Tudo é possível.
                </app-soft-skill-card>
            </div>
    </div>
</section>
