<section class="section-container h-screen flex flex-col xl:flex-row justify-center items-center gap-3 xl:gap-14">
    <div class="relative flex flex-col mx-auto max-w-250">
        <p class="font-black uppercase text-center text-4xl md:text-6xl xl:text-8xl xl:text-wrap xl:text-start text-nowrap xl:leading-19">ederson junior<p>
        <app-section-title titleText="backend developer"></app-section-title>
        <div class="flex flex-row my-5 justify-center gap-5 xl:order-first xl:justify-start">
            <a href="https://linkedin.com/in/edersonjunior-dev" target="_blank" class="hero-social-link bg-sky-500 group xl:bg-white xl:ring-sky-500"><img src="images/linkedin.svg" class="hero-social-link-img invert brightness-0 xl:invert-0 xl:brightness-100"><span class="hero-social-link-span xl:bg-sky-500 xl:text-white">/edersonjunior-dev</span></a>
            <a href="https://github.com/ed-dev46" target="_blank" class="hero-social-link bg-black group xl:bg-white xl:ring-black"><img src="images/github.svg" class="hero-social-link-img invert xl:invert-0"><span class="hero-social-link-span xl:bg-black xl:text-white">/ed-dev46</span></a>
        </div>
        <p class="text-center xl:text-start text-lg xl:my-3 md:text-xl xl:text-2xl">Meu objetivo é construir soluções que possam resolver seus problemas, utilizando <b>.NET</b>, <b>Angular</b>, <b>Javascript</b> ou <b>Java</b>, e que sejam intuitivas e funcionais.</p>
        <p class="text-center text-sm my-3 md:text-base lg:text-lg xl:text-xl">Estou pronto para te ajudar no desenvolvimento de:</p>
        <app-hero-caret></app-hero-caret>
        <p class="text-center text-xl xl:text-3xl opacity-28 text-nowrap mt-21 animate-bounce">Conheça mais do meu trabalho&nbsp;&#8595;</p>
    </div>
    <img src="images/me.jpg" alt="me" class="order-first xl:order-last rounded-full shadow-xl max-w-40 2xl:max-w-120 xl:max-w-90 xl:transition xl:ease-in-out xl:duration-500 xl:hover:-translate-y-15">
</section>