<section class="section-container h-screen flex-col sm:bg-red-500 md:bg-emerald-500 lg:bg-indigo-500 sm:flex-row justify-end items-center sm:justify-end gap-5">
    <div>
        <p class="font-black uppercase text-center sm:text-left text-2xl sm:text-9xl text-wrap sm:text-wrap">ederson junior<p>
        <app-section-title titleText="backend developer"></app-section-title>
        <div class="flex flex-row gap-5 justify-evenly">
            <a href="https://linkedin.com/in/edersonjunior-dev" target="_blank"><img src="images/linkedin.svg"><span class="">/edersonjunior-dev</span></a>
            <a href="https://github.com/ed-dev46" target="_blank"><img src="images/github.svg" class=""><span class="">/ed-dev46</span></a>
        </div>
        <p class="text-center text-base my-5">Meu objetivo é construir soluções que possam resolver seus problemas, utilizando <b>.NET</b>, <b>Angular</b>, <b>Javascript</b> ou <b>Java</b>, e que sejam intuitivas e funcionais.</p>
        <p class="text-center text-sm mb-1">Estou pronto para te ajudar no desenvolvimento de:</p>
        <app-hero-caret></app-hero-caret>
        <a href="" class="bg-sky-500 hidden">Conheça meu trabalho&nbsp;&#62;&#62;</a>
    </div>
    <img src="images/me.jpg" alt="me" class="order-first sm:order-last rounded-full shadow-xl w-[80%]">
</section>