<section class="justify-between">
    <div class="flex flex-col justify-end max-w-6xl">
        <p class="font-black uppercase leading-25 text-9xl">ederson junior</p>
        <p class="mt-3 text-5xl font-medium uppercase"><span class="text-sky-500">/ </span>backend developer</p>
        <p class="my-10 text-3xl m">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sapiente alias excepturi est, illo deleniti! Caret effect onde mostra o que posso fazer ex: estou pronto para fazer seu site/api/microsservico</p>
        <a class="mb-10 text-5xl text-white shadow-xl p-7 bg-sky-500 w-max" href="">Veja meu trabalho &#62;&#62;</a>
    </div>
    <div class="flex items-end justify-center">
        <img class="mb-10 rounded-full shadow-xl" src="images/me.jpg" alt="deu ceerto nao">
    </div>
</section>
