<section class="section-container flex-row gap-7">
    <div class="flex flex-col justify-end">
        <p class="font-black uppercase leading-25 text-9xl text-wrap">ederson junior</p>
        <app-title-decoration class="text-5xl mt-3" titleText="backend developer"></app-title-decoration>

        <p class="text-3xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sapiente alias excepturi est, illo deleniti! Caret effect onde mostra o que posso fazer ex: estou pronto para fazer seu site/api/microsservico
        </p>

        <app-brackets-title id="caretAnimation" class="text-5xl" >
        </app-brackets-title>
        
        <a class="text-5xl text-white shadow-xl p-7 bg-sky-500 w-max" href="">Veja meu trabalho&nbsp;&#62;&#62;</a>
    </div>

    <div class="flex items-end justify-center">

        <img class="mb-10 rounded-full shadow-xl" src="images/me.jpg" alt="me">

    </div>
</section>
