<section class="flex-col section-container">
    <app-section-title titleText="meus projetos"></app-section-title>
    <div class="grid h-full grid-cols-3 gap-7">
        
        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>

        <div class="projects-card">
            <img class="projects-card-img" src="images/projeto1.png" alt="deu certo nao">
            <div class="projects-desc">
                <p class="projects-desc-title"><span class="text-sky-500">/ </span>Projeto</p>
                <p class="projects-desc-text">Aplicacao que consume API externa.</p>
                <p>
                    <a class="bg-sky-500 projects-card-btn mr-7" href="#">
                        <img class="projects-card-btn-icon" src="images/open.svg" alt="">Abrir projeto</a>
                    <a class="bg-gray-900 projects-card-btn" href="#">
                        <img class="projects-card-btn-icon" src="images/github.svg" alt="">Abrir repositório</a>
                </p>
            </div>
        </div>
        
    </div>
</section>
