<section id="myprojects-section" class="section-container">
    <app-section-title titleText="conheça meu trabalho"></app-section-title>
    <div class="py-7 grid xl:grid-cols-2 grid-rows-[auto] gap-7 grow">  
        <app-project-card projectTitle="project test" projectImgUrl="images/projectTest.jpg" [projectStacks]="['csharp', 'java']" class="group relative overflow-hidden shadow-xl min-h-100">
            project description
        </app-project-card>
        <app-project-card projectTitle="project test" projectImgUrl="images/projectTest.jpg" [projectStacks]="['javascript', 'angular']" class="group relative overflow-hidden shadow-xl min-h-100">
        </app-project-card>
        <app-project-card projectTitle="project test" projectImgUrl="images/projectTest.jpg" [projectStacks]="['csharp']" class="group relative overflow-hidden shadow-xl min-h-100">
        </app-project-card>
        <app-project-card projectTitle="Java Academy" projectImgUrl="images/projectTest.jpg" [projectStacks]="['java', 'angular', 'javascript', 'csharp']" class="group relative overflow-hidden shadow-xl min-h-100">
        </app-project-card>
    </div>
    <a href="https://github.com/ed-dev46" target="_blank" class="w-full shadow-xl p-7 items-center justify-center text-xl inline-flex bg-black text-white transition ease-in-out duration-200 hover:bg-white hover:text-black hover:ring-3 hover:ring-black group">Veja mais em <img src="images/github.svg" alt="" class="ml-3 size-10 invert transition ease-in-out duration-200 group-hover:invert-0">/ed-dev46</a>

</section>
