<div (click)="projectOpen =! projectOpen">
<img [src]="projectImgUrl" alt="" class="duration-700 group-hover:contrast-10 h-full w-[50%] transition ease-in-out absolute group-hover:scale-500 object-top object-cover" [ngClass]="projectOpen ? 'scale-500 contrast-10' : 'scale-100 contrast-100'">
<p class="uppercase font-semibold delay-200 group-hover:delay-0 text-6xl duration-500 absolute transition ease-in-out top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] group-hover:-translate-y-[200%] group-hover:opacity-0 text-white" [ngClass]="projectOpen ? 'opacity-0 -translate-y-[200%] delay-0' : 'opacity-100 -translate-y-[50%] delay-200'">{{ projectTitle }}</p>
<div class="gap-3 flex flex-col text-white group-hover:delay-200 delay-0 duration-300 inset-0 p-7 absolute translate-y-[100%] transition ease-in-out group-hover:-translate-y-0 opacity-0 group-hover:opacity-100" [ngClass]="projectOpen ? 'opacity-100 -translate-y-0 delay-200' : 'delay-0 opacity-0 translate-y-[100%]'">
    <p class="uppercase text-3xl font-semibold">{{ projectTitle }}</p>
    <div class="flex flex-row gap-3 h-10">
        @for (stack of projectStacks; track stack) {
            <img src="images/{{ stack }}.svg" alt="{{ stack }}" class="h-full brightness-0 invert">
        }
    </div>
    <p class="pr-7 text-lg text-justify">
        <ng-content></ng-content>
    </p>
    <div class="flex flex-row space-x-5 mt-auto">
        <a href="#" class="project-card-btn bg-sky-500" target="_blank"><img src="images/open.svg" alt="" class="project-card-btn-icon">abrir projeto</a>
        <a href="#" class="project-card-btn bg-black" target="_blank"><img src="images/github.svg" alt="" class="project-card-btn-icon">abrir repositório</a>
    </div>
</div>
</div>
