<img src="images/projectTest.jpg" alt="" class="duration-700 group-hover:contrast-10 h-full w-[50%] transition ease-in-out absolute group-hover:scale-500 object-top object-cover">
<p class="uppercase font-semibold delay-200 group-hover:delay-0 text-7xl duration-500 absolute transition ease-in-out top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] group-hover:-translate-y-[200%] group-hover:opacity-0 text-white">titulo projeto</p>
<div class="text-white group-hover:delay-200 delay-0 duration-300 top-7 left-7 absolute translate-y-[100%] transition ease-in-out group-hover:-translate-y-0 opacity-0 group-hover:opacity-100">
    <p class="uppercase text-3xl font-semibold">project title</p>
    <div class="flex flex-row gap-3">
        <img src="images/csharp.svg" alt="" class="size-15 brightness-0 invert">
        <img src="images/angular.svg" alt="" class="size-15 brightness-0 invert">
    </div>
    <p class="pr-7 text-lg text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius fuga vero aperiam corporis impedit eligendi. Accusantium, facilis molestias consectetur, consequuntur eligendi minima tempora, enim voluptatem minus nisi tenetur id error dolore mollitia nihil magni ipsam assumenda vel. Magnam, recusandae aliquam!</p>
    <p class="inline-flex space-x-5">
        <a href="#" class="project-card-btn bg-sky-500" target="_blank"><img src="images/open.svg" alt="" class="project-card-btn-icon">abrir projeto</a>
        <a href="#" class="project-card-btn bg-black" target="_blank"><img src="images/github.svg" alt="" class="project-card-btn-icon">abrir repositório</a>
    </p>
    
</div>
