@import "tailwindcss";

@theme {
    --color-csharp: #8900F4;
    --color-angular: #F40000;
    --color-javascript: #F4D400;
    --color-java: #00A6F4;
}

@font-face {
    font-family: 'Bounded';
    src: url("../public/fonts/bounded/Bounded-Variable.ttf");
}

* {
    font-family: 'Bounded';
}

.section-container {
    @apply flex py-14 px-42;
}

.navbar-item {
    @apply text-5xl uppercase font-medium;
}

.projects-card {
    @apply shadow-lg;
}

.projects-card-img {
    @apply bg-sky-100 h-[40%];
}

.projects-desc {
    @apply h-[60%] flex flex-col justify-between p-5;
}

.projects-desc-title {
    @apply text-3xl uppercase font-medium;
}

.projects-desc-text {
    @apply text-lg;
}

.projects-card-btn {
    @apply inline-flex p-3 leading-7 text-white shadow-lg capitalize;
}

.projects-card-btn-icon {
    @apply mr-3 invert size-7;
}

.after-up {
    @apply after:text-white after:-z-10 after:font-semibold after:transition after:ease-in-out after:duration-200 after:absolute after:top-0 after:left-[50%] after:-translate-x-[50%] after:rounded-full after:p-3 after:opacity-0 group-hover:after:opacity-100 group-hover:after:-translate-y-[120%] after:text-nowrap after:cursor-pointer;
}