@import "tailwindcss";

@font-face {
    font-family: 'Bounded';
    src: url("../public/fonts/bounded/Bounded-Variable.ttf");
}

@theme {
    --color-csharp: #8900F4;
    --color-angular: #F40000;
    --color-javascript: #F4D400;
    --color-java: #00A6F4;
    --font-bounded: 'Bounded', 'sans-serif';
}

* {
    @apply font-bounded scroll-smooth;
}

.section-container {
    @apply xl:max-w-5xl 2xl:max-w-7xl xl:mx-auto p-7 xl:py-14;
}

.projects-card {
    @apply shadow-lg;
}

.projects-card-img {
    @apply bg-sky-100 h-[40%];
}

.projects-desc {
    @apply h-[60%] flex flex-col justify-between p-5;
}

.projects-desc-title {
    @apply text-3xl uppercase font-medium;
}

.projects-desc-text {
    @apply text-lg;
}

.after-up {
    @apply after:text-white after:-z-10 after:font-semibold after:transition after:ease-in-out after:duration-200 after:absolute after:top-0 after:left-[50%] after:-translate-x-[50%] after:rounded-full after:p-3 after:opacity-0 after:scale-0 group-hover:after:scale-100 group-hover:after:opacity-100 group-hover:after:-translate-y-[120%] after:text-nowrap after:cursor-pointer;
}